<h1><%= @attraction.name %></h1>

<ul>
    <li><strong>Total Number of Users: </strong><%= @attraction.users.count %></li>
    <li><strong>Ticket Requirement: </strong><%= @attraction.tickets %></li>
    <li><strong>Height Requirement: </strong><%= @attraction.min_height %> inches</li>
    <li><strong>Nausea Rating: </strong><%= @attraction.nausea_rating %></li>
    <li><strong>Happiness Rating: </strong><%= @attraction.happiness_rating %></li>
</ul>

